/* INIZIO ROOT */
.root {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: #E3F2FD;
}
/* FINE ROOT */


/* INIZIO BUTTON */
.buttonDefaultBlu {
    -fx-background-color: #0D47A1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.buttonDefaultBlu:hover {
    -fx-background-color: #1565C0;
}
.buttonDefaultBlu:pressed {
    -fx-background-color: #1976D2;
}

.buttonConfermaVerde {
    -fx-background-color: #1B5E20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.buttonConfermaVerde:hover {
    -fx-background-color: #388E3C;
}
.buttonConfermaVerde:pressed {
    -fx-background-color: #4CAF50;
}

.buttonAnnullaRosso {
    -fx-background-color: #B71C1C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.buttonAnnullaRosso:hover {
    -fx-background-color: #D32F2F;
}
.buttonAnnullaRosso:pressed {
    -fx-background-color: #E53935;
}
/* FINE BUTTON */


/* INIZIO LABEL */
.labelPiccolaGrossettoNera {
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-text-fill: #333333;
}

.labelGrandeGrossettoNera {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
/* FINE LABEL */


/* INIZIO TABLE */
.table-cell {
    -fx-alignment: CENTER_LEFT;
}
/* FINE TABLE */

/* INIZIO LIST*/
.list-cell:selected {
    -fx-background-color: #1565C0;
    -fx-text-fill: white;
}
/* FINE LIST*/

/* INIZIO DROPDOWN*/
.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCCCCC;
}

.combo-box .arrow {
    -fx-background-color: #0078d7;
}

.combo-box .button {
    -fx-background-color: #FFFFFF;
}

.combo-box .list-view {
    -fx-background-color: #FFFFFF;
}

.combo-box .list-cell:selected {
    -fx-background-color: #D3D3D3;
}
/* FINE DROPDOWN*/